<style>
	.nj-app-wraps{
		display:flex;
	}
	.nj-app-wraps h4{
		margin-left:10px; margin-top:10px;
	}
	.nj-app-wraps img{
		height:37px;
	}
	.nj-app-descs{
		margin-left:5px;
	}
	.nj-app-button{
		text-align:left; width:100%;
	}
	.nj-app-button span{
		font-weight:bold; color:#5E94B6;
	} 
	.nj-hide-button{
		display:none;
	}
</style>

<h2>Natural Resource Navigator & Coastal Resilience</h2>
<div>
    Use the Navigator to view data on natural resources across NY and identify appropriate conservation objectives. Use the companion <a href='http://www.naturalresourcenavigator.org/wp-content/uploads/2016/01/Guidebook.pdf' target='_blank'><b>Guidebook</b></a> to select climate adaptation options for resource management.
    Use Coastal Resilience to view coastal hazard, socioeconomic, and ecological data to guide decisions on reducing risk to communities and conserving or restoring coastal habitats.
</div>

<h3>Natural Resource Navigator</h3>
<div class="button nj-app-button">	
	<div class="nj-app-wraps">
		<img src="img/habitat_explorer.png">
		<h4 class="color-primary">Forest Explorer</h4>
	</div>
	<div class="nj-app-descs">
		Develop climate-smart conservation strategies or evaluate if existing projects are climate smart.
	</div>
</div>	
<button class="button launch-plugin nj-hide-button" data-plugin-name="forest_habitat_explorer"></button>

<div class="button nj-app-button">
	<div class="nj-app-wraps">
		<img src="img/streams_explorer.png">
		<h4 class="color-primary">Streams Explorer</h4>
	</div>	
	<div class="nj-app-descs">
		Explore current conditions, future threats, and climate change sensitivity and exposure of NY streams.
	</div>
</div>
<button class="button launch-plugin nj-hide-button" data-plugin-name="stream_habitat_explorer">Go</button>

<div class="button nj-app-button">
	<div class="nj-app-wraps">
		<img src="img/species_explorer.png">
		<h4 class="color-primary">Species Explorer</h4>
	</div>	
	<div class="nj-app-descs">
		Identify species present in your project area now or in the future and develop climate-smart conservation strategies for them.
	</div>
</div>
<button class="button launch-plugin nj-hide-button" data-plugin-name="species">Go</button>


<h3>Coastal Resilience</h3>
<div class="button nj-app-button">
	<div class="nj-app-wraps">
		<img src="img/flood_slr.png">
		<h4 class="color-primary">Flood and Sea Level Rise</h4>
	</div>
	<div class="nj-app-descs">
		Explore the potential inundation extent of sea level rise.
	</div>
</div>
<button class="button launch-plugin nj-hide-button" data-plugin-name="flood-slr">Go</button>

<div class="button nj-app-button">
	<div class="nj-app-wraps">
		<img src="img/future_habitat.png">
		<h4 class="color-primary">Future Habitat</h4>
	</div>	
	<div class="nj-app-descs">
		See how size and distribution of salt marshes and other coastal habitats may change in response to future projected sea levels.
	</div>
</div>
<button class="button launch-plugin nj-hide-button" data-plugin-name="future_habitat">Go</button>

<h3>One-click Maps</h3>
<div class="button nj-app-button">
    <div class="nj-app-wraps">
        <img src="img/regional_planning.png">
        <h4 class="color-primary">Freshwater Flooding</h4>
    </div>
    <div class="nj-app-descs">
        Current and potential future exposure to flooding, current costs and property at risk, and condition of natural infrastructure that might mitigate flooding.
    </div>
</div>
<button class="button launch-scenario i18n nj-hide-button" data-i18n="Go" data-save-code="eyJzY3JlZW4iOsSAc3BsaXRTxIPEhcSHOmZhbHNlLMSBeW5jTWFwc8SIxJXEl2V9xJptxKAwxIjEgGV4dMSGdMSsInhtacSTLTkwMTc3MjYuMzU1OTY4NjfEmnnEtsSTNDkyODM5MS42xYYzMTM2NDbEmsS1YXjEiC03ODnFhzg4LsS/MTg3MzfFnMWKxKnFoTo1NjEwODLFlDTFtjg0xZrFlsSaxIthdGnEllJlZmXEhMSdZcSzd2tpZMSIxbjFuzAwxJpsxoVlc3RXxpLGlDozODU3xKciY2FjaMaPxIkiX3BhcnTEojpbxK3Er8SxxLPEtcS3xaLEusS8xL7FgMWCxYTFhsWIxbLGvjrFjsWQxZLFlMWWxZHFmcWbxZ3EtMWzxaLFpMWmxYbFqcWrxa3Fr8WxIsWLxaDEiMW2xbjFusW8xb7GgMWWx5PGhMaGxojGisaMxIZjxq7EgMaRxpPGlTDGl8aZIsabxLDGnsagx7XGo8alxqfGqGZyYW1lSWTGtlswXX3IjsaoxJhsZWPEsGRCYcSYxKlwSW5kxK7EiDDGqMaybmXEq8avyKRlTnVtYsaMyKHGg3TGnE9mUGx1Z8S3xrbEimXIk8iVZWTItsi4x4kixIzJg25zL8SEyLlvbsSWLcSMYW5uxLdnIsSayYbIucmIxLPJmci6yYplyYzJjmzJkMabyZPJlcSzxpt5xozIu8apdXLGjXTGicmhxIhudWxsxJpmaWzEsHJUxK7EsjoiyZfEgci9yJTIlkxhyapyyIsiSGFixI7GhSwgQ8SNxKnEsCAmIMaJxovGjcexIETGhWEvRsSEc2h3xpxyIEZsb29kyZXKpcqnyqnKq8qtyq/KscmVOiBTdXBwb8a0yZXKocqjyqVFTUHKoUZJUk0vUTPKuMqwZMmRyLrKhMqPypHIsnTKlMqWacqYZcqaypzHrsqfy6HKosiyyrTGncq2yb3Lk8q6bmfLqcqoyqrLrMquy5TKu8q9yr/LgcuDy6/LhcuoQciVaXbLoVLMgcaMIEHEhGHLmMqQypLLnMqVypfGnMuiyp3Hr8aOy73KpMqmy6rLs8yGy7XLrsuwzJjLssq3zJzKssuvyrzKvsuAy4LGhsu8y6fMl8q5y5XGm8S3ypVvbcSMxK7GnSJdxJrErsikyJ9kyonKi8qNy5nMjcudzJDKmcqbzJPLpcyWzIvLmsqTzI/Ln8yRzYbLpMewy6bLhsyfy6vMm8ytyafEms2By5vNg82OzYXLo8qezZLMlsuxzZbKrMyiyrPNlcyazabNmMyky7jMp8u7Z82JzZrMjM2czY3LoMySzZHMlcyrzaTNqsutzKPMnsq1zb3Np82tU8SGc8SOzIHEjnnNis2CzbbNj82gzJTKoM27zanMoc2szoDMmc6Vy7bNrUPJrsmwzLHIns6IyY3Mt8aayorGjE/GsmPOisSIxrjHus6lcsiJxIjKjs20zYzLns23zZDNoc26zZTOgc6ZzJ3NvM68zb/Mpcu5zKjLhM6TzK3Llm7MscyzyJN4zLbEmm/OqM6qOjAuxqfMuCLEt2ZvQm94zL7GjM6wOsm1ybd9z6TPpQ==">Go</button>

<script>
	$(".nj-app-button").click(function(c){
		$(c.currentTarget).next().trigger("click")
	})
</script>
